@inherits LayoutComponentBase
@inject MasaBlazor MasaBlazor

<MApp id="Page">
    <MNavigationDrawer App @bind-Value="disp" MiniVariantWidth="60" Bottom>
        <SideBar />
    </MNavigationDrawer>
    <MMain id="MainContent">
        <MContainer Fluid>
            @Body
        </MContainer>
    </MMain>
    <MFooter App>
        <MButton OnClick=@(()=>disp=!disp) Text Outlined>
            导航
        </MButton>
        <div class="d-inline-flex justify-center">
            X备字XXXXXXXXX
        </div>
        <MSpacer></MSpacer>
        <MButton OnClick=@ColorChange Outlined Text Class="justify-end">
            黑白模式转换
        </MButton>
    </MFooter>
</MApp>
@code
{
    private bool? disp = true;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppEnv.SysData = (await AppEnv.Dserver.GetSystemInfo()).data;
        }
        catch (DDTVServer.NotLoginException ex)
        {
            Console.WriteLine("NOtlogin" + ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Console.Write(ex.StackTrace);
        }
        IsDark = MasaBlazor?.Theme?.Dark ?? false;
    }
    private bool IsDark = false;
    private void ColorChange()
    {
        IsDark = !IsDark;
        MasaBlazor.ToggleTheme();
    }
}
