@page "/Config"

<p style="font-size: xx-large;">配置</p>
<MCardText Style="d-flex flex-row">
    <MCard Style="d-inline-flex" MaxWidth="700">
        <MCardTitle>
            服务器配置
        </MCardTitle>
        <MCardSubtitle>
            更改这些配置，请更改DDTV的Config文件
        </MCardSubtitle>
        <MCardText>

        </MCardText>
    </MCard>
    <MCard Style="d-inline-flex" MaxWidth="700">
        <MCardTitle>
            DDDD应用配置
        </MCardTitle>
        <MCardSubtitle>
            要更改这些配置，更改/static/config.js
        </MCardSubtitle>
        <MCardText>

        </MCardText>
    </MCard>
</MCardText>
@code{
    
}